<!-- Esto es un render de la colección @article. El método render cuando le pasamos un arreglo de un modelo de la bbdd va a iterar sobre esa colección y va a hacer el render del aprcial por cada uno de los elementos que hay en la colección. -->
<h2><%= link_to article.title, article %></h2>
<div><%= article.body %> - <%= link_to "Eliminar", article, method: :delete %></div>