<header>
	<nav>
		<ul>
			<li><%= link_to "Inicio", root_path %></li>
			<li>Diseño</li>
			<li>Programación</li>
			<li>Tecnología</li>
      <% if user_signed_in? %>
        <li><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %></li>
      <% else %>
      	<li><%= link_to "Iniciar sesión", new_user_session_path %></li>
      	<li><%= link_to "Crear cuenta", new_user_registration_path %></li>
      <% end %>
		</ul>
	</nav>
</header>